@import '../../../styles/colors';
@import '../../../styles/fonts';

.button {
  width: 100%;
  height: 40px;
  margin: 25px 0;
  background-color: #303030;
  border-radius: 5px;
  color: $white-color;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
  font-family: $lato-font-family;

  &.next-button {
    background-color: rgba(#00bc8c, 0.85);

    &:hover {
      background-color: #00bc8c;
    }
  }
}