@import '../../../styles/fonts';
@import '../../../styles/colors';

body {
  background-color: #222;
  color: $white-color;
  font-family: $lato-font-family;
}

.app-container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}